body {
    background-color: #3A2852;
    color: #F892F8;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding: 10%;
}

.title {
    line-height: .5em;
    font-weight: bolder;
}

.text-w {
    color: white;
}

.subTitle {
    font-size: 2rem;
    font-weight: lighter;
    padding-bottom: 10%;
}

.collections {
    display: flex;
    flex-direction: row;
}

.type {
    background-color: white;
    border-radius: .5em;
    width: 6.5em;
    text-align: center;
    margin-right: 3%;
}

.icon {
    border-radius: 1rem;
    width: 10em;
    height: 12em;
}

.items {
    display: flex;
    flex-direction: row;
}

.pd-r {
    padding-right: 3%;
}