html, body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0;
}

a {
	text-decoration: none;
	font-weight: bold;

}

a:hover {

	color: #444;

}

img {

	width: 100%;

}

header {

	background: #fcfeef;
	width: 100%;
	height: 76px;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 4px solid #6df4e0;
	z-index: 100;

}

nav {

	float: right;
	padding: 20px;	

}

#menu-icon {

	display: hidden;
	width: 40px;
	height: 40px;
	background: #4C8FEC url(../img/menu-icon.png) center;

}

a:hover#menu-icon {

	background-color:red;
	border-radius: 4px 4px 0 0;

}

ul {
	list-style: none;

}

li {

	display: block;
	float: left;
	padding: 10px;

}

.current {

	color: #42a391

}
















.who {
    text-align: left;
    color: #0c0c0c;
    overflow: hidden;
    font-size: 16px;
    line-height: 24px;
    padding: 0% 24%;
    font-weight: 200;
}

.title{
    text-align: center;
    padding: 15px 0px;
    margin: 20px 0px;
    text-transform: uppercase;
}


.OgCoop {
    background: 
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.8)
    ), url(https://images.unsplash.com/photo-1505833987950-1b45b76beac8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80) no-repeat;
    width: 100%;
    min-height: 300px;
    background-size: cover;
    position: relative;
    overflow: hidden;
    margin: 0;
}

.OgCoop > div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
  }
  .OgCoop > div > h1 {
    margin: 0;
    color: white;
    text-shadow: 0 1px 0 black;
  }
  
  * {
    box-sizing: border-box;
  }
 
.what {
    text-align: center;
}

.last {
    padding-bottom: 5%;
}


.links{
    font-size: 16px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    line-height: 40px;
}

  a {
    color: black;
    text-decoration: none;
  }

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: #67d5cb;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
}  

form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.form-input {
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.btn {
    padding: 10px 20px;
    margin: 10px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer; 
}
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .who {
        font-size: 15px;
        text-align: center;
        color: #0c0c0c;
        overflow: scroll;
        display: block;
    }
    .links {
        font-size: 15px;
    }

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .who {
        font-size: 15px;
        text-align: center;
        color: #0c0c0c;
        overflow: scroll;
        display: block;

    }
    .links {
        font-size: 15px;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .who {
        font-size: 15px;
        text-align: center;
        color: #0c0c0c;
        overflow: scroll;
        display: block;
    }
    .links {
        font-size: 15px;
    }

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .who {
        font-size: 15px;
        text-align: center;
        color: #0c0c0c;
        overflow: scroll;
        display: block;
        padding: 2%;
    }
    .last {
        padding-bottom: 25%;
    }
    .links {
        font-size: 15px;
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .who {
        font-size: 16px;
        text-align: center;
        color: #0c0c0c;
        overflow: scroll;
        display: block;
        padding: 2%;
    }
    .last {
        padding-bottom: 25%;
    }
    .links {
        font-size: 16px;
    }

    .footer {
        height: 10%;
        overflow: hidden;
    }
    form {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    
    .form-input {
        height: 100%;
        background-color: #fff;
        border: 1px solid #ddd;
        bottom: 5;
        font-size: 18px;
    }
    .btn {
        background: transparent;
        padding: 0;
        margin: 0;
        color: #0c0c0c;
        bottom: 2%;
        font-size: 12px;
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .who {
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #0c0c0c;
        overflow: scroll;
        display: block;
        padding: 2%;
    }
    .background-img, .caption-border {
        height: 65%;
    }
    .last {
        padding-bottom: 25%;
    }
    .links {
        font-size: 18px;
    }
    .footer {
        height: 10%;
        overflow: scroll;
    }
    form {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        padding: 10 10 10 0;
        margin: 0;
        bottom: 5%;
    }
    
    .form-input {
        height: 100%;
        background-color: #fff;
        border: 1px solid #ddd;
        bottom: 0;
        font-size: 18px;
    }
    .btn {
        background: transparent;
        padding: 0;
        margin: 0;
        color: #0c0c0c;
    }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .who {
        font-size: 18px;
        text-align: center;
        color: #0c0c0c;
        overflow: scroll;
        display: block;
        padding: 2%;
    }
    .background-img, .caption-border {
        height: 65%;
        justify-content: center;
    }
    .last {
        padding-bottom: 25%;
    }
    .links {
        font-size: 18px;
    }
    .footer {
        height: 10%;
        overflow: scroll;
    }
    form {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    
    .form-input {
        height: 100%;
        background-color: #fff;
        border: 1px solid #ddd;
        bottom: 0;
        font-size: 18px;
    }
    .btn {
        background: transparent;
        padding: 0;
        margin: 0;
        color: #0c0c0c;
    }


    header {
        background: transparent;
        position: fixed;
        border-bottom: hidden;

	}

	#menu-icon {

		display:inline-block;

	}

    nav ul, nav:active ul { 

		display: none;
		position: absolute;
		padding: 20px;
		background: rgb(255, 255, 255, 0.1);
		border: 0;
		right: 20px;
		top: 60px;
        width: 50%;
        color: white;

	}

	nav li {
        color: white;
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav:hover ul {

		display: block;

	}



}

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .who {
        font-size: 21px;
        line-height: 30px;
        text-align: center;
        color: #0c0c0c;
        overflow: scroll;
        display: block;
        padding: 2%;
    }
    .background-img, .caption-border {
        height: 50%;
        justify-content: center;
    }
    .last {
        padding-bottom: 15%;
    }
    .links {
        font-size: 21px;
    }
    .footer {
        height: 10%;
        overflow: scroll;
    }
    form {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        padding: 0;
        margin: 0;
        bottom: 2%;
    }
    
    .form-input {
        height: 100%;
        background-color: #fff;
        border: 1px solid #ddd;
        bottom: 0%;
        font-size: 18px;
    }
    .btn {
        background: transparent;
        padding: 0;
        margin: 0;
        color: #0c0c0c;
    }

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .who {
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        color: #0c0c0c;
        overflow: scroll;
        display: block;
        padding: 2%;
    }
    .background-img, .caption-border {
        height: 50%;
        justify-content: center;
        align-items: center;
    }
    .last {
        padding-bottom: 15%;
    }
    .links {
        font-size: 25px;
    }
    .footer {
        height: 10%;
        overflow: scroll;
    }
    form {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    
    .form-input {
        height: 100%;
        background-color: #fff;
        border: 1px solid #ddd;
        bottom: 0;
        font-size: 18px;
    }
    .btn {
        background: transparent;
        padding: 0;
        margin: 0;
        color: #0c0c0c;
    }

}
/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .background-img, .caption-border {
        height: 80%;
        justify-content: center;
        align-items: center;
    }
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .background-img, .caption-border {
        height: 80%;
        justify-content: center;
        align-items: center;
    }
}