html, body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}


.OgCoop {
  background: 
  linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.8)
  ), url(https://preview.redd.it/1sl7nsez7nry.png?width=960&crop=smart&auto=webp&s=7214de5636c1bdaa910f9af5991435394b8a4a29) 
  no-repeat; /*https://images.unsplash.com/photo-1505833987950-1b45b76beac8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80*/
  width: 100%;
  min-height: 300px;
  background-size: cover;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  margin: 0;
}


.OgCoop > div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
}
.OgCoop > div > h1 {
  margin: 0;
  color: white;
  text-shadow: 0 1px 0 black;
}

* {
  box-sizing: border-box;
}


.section {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.section-1 {
  background-color: #fcfef0;
}

.section-2 {
  background: url(https://vignette.wikia.nocookie.net/steven-universe/images/e/ed/Steven_the_Swordfighter_Cloud_Temple_Background.jpg/); 
  background-size: cover;     
  background-attachment: fixed;
}


.nav {
  transition: all .5s ease;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  z-index: 100;
  position: absolute;
  left: 0;
  letter-spacing: 2px;
  line-height: 100px;
  transition-property: background-color, box-shadow, line-height, height;
  transition-timing-function: cubic-bezier(0.78, 0.13, 0.15, 0.86);
  transition-duration: 0.3s;
}
.nav .brand {
  line-height: 100px;
  padding-left: 60px;
  padding-right: 60px;
  display: inline-block;
  float: left;
  font-size: 20px;
  font-family: 'Pacifico', cursive;
  transition-property: background-color, box-shadow, line-height, height;
  transition-timing-function: cubic-bezier(0.78, 0.13, 0.15, 0.86);
  transition-duration: 0.3s;
}
.nav .brand a {
  color: #76fcee;
  text-decoration: none;
}
.nav ul {
  margin: 0;
  text-transform: uppercase;
}
.nav ul li {
  text-align: center;
  display: inline-block;
  list-style: none;
  padding: 15px 15px;
  cursor: pointer;
  line-height: 30px;
}
.nav ul li:hover a {
  font-weight: bold;
  color: #76fcee;
}
.nav ul li a {
  color: #eee;
  text-decoration: none;
}

.sticky {
  position: fixed !important;
  top: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  line-height: 30px;
}
.sticky .brand {
  line-height: 60px;
}
.sticky ul li a {
  color: #6E7982;
}
.sticky ul li:hover a {
  color: #4473a2;
}

.menu {
  display: none;
}

.title{
  text-align: center;
  padding: 25px 0px;
  margin: 0px;
  text-transform: uppercase;
}



/*footer*/
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: #67d5cb;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
}






@media (max-width: 600px) {
  .sticky .menu {
    top: 0;
  }
  .sticky .menu .hamburger {
    background: #6E7982;
  }
  .sticky .menu .hamburger::before, .sticky .menu .hamburger::after {
    background: #6E7982;
  }

  .open.sticky .hamburger {
    background: transparent;
  }

  .open .hamburger {
    background-color: transparent;
  }
  .open .hamburger::before {
    transform: rotate(45deg);
  }
  .open .hamburger::after {
    transform: rotate(-45deg) translate(2px, -2px);
  }

  .menu {
    display: block;
    outline: none;
    position: relative;
    line-height: 60px;
    float: left;
    left: 20px;
    top: 20px;
    width: 60px;
    height: 60px;
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 150ms;
  }
  .menu:hover {
    opacity: 1;
  }

  .hamburger, .hamburger::after, .hamburger::before {
    margin: 0 auto;
    display: block;
    width: 24px;
    height: 3px;
    line-height: 0;
    transition: all 150ms;
  }

  .hamburger::before {
    content: '';
    transform: rotate(45deg);
    background: #fff;
  }

  .hamburger::after {
    content: '';
    transform: rotate(-45deg) translate(2px, -2px);
    background: #fff;
  }

  .hamburger {
    background: #fff;
  }
  .hamburger::after {
    transform: translateY(5px);
  }
  .hamburger::before {
    transform: translateY(-8px);
  }

  .navbar {
    transition: transform 150ms;
  }

  ul.navbar {
    transform: translate(-100%, 0);
    padding-left: 0;
  }
  ul.navbar li {
    line-height: calc((100vh - 60px) / 6);
    display: block;
  }

  .open .navbar {
    transform: translate(0, 0);
  }

  .nav .brand {
    display: block;
    text-align: center;
    float: none;
  }

  .sticky .brand {
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  }

  #nav {
    height: 100px;
  }
  #nav.open {
    height: auto;
    min-height: 100%;
  }
  #nav.sticky {
    height: 60px;
  }
  #nav .open.sticky {
    height: auto;
  }
}





/* old css

html, body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.who {
    text-align: left;
    color: #0c0c0c;
    overflow: hidden;
    font-size: 16px;
    line-height: 24px;
    padding: 0% 24%;
    font-weight: 200;
}

.title{
    text-align: center;
    padding: 15px 0px;
    margin: 20px 0px;
    text-transform: uppercase;
}


.OgCoop {
    background: 
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.8)
    ), url(https://images.unsplash.com/photo-1505833987950-1b45b76beac8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80) no-repeat;
    width: 100%;
    min-height: 300px;
    background-size: cover;
    position: relative;
    overflow: hidden;
    margin: 0;
}

.OgCoop > div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
  }
  .OgCoop > div > h1 {
    margin: 0;
    color: white;
    text-shadow: 0 1px 0 black;
  }
  
  * {
    box-sizing: border-box;
  }
 
.what {
    text-align: center;
}

.last {
    padding-bottom: 5%;
}


.links{
    font-size: 16px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    line-height: 40px;
}

  a {
    color: black;
    text-decoration: none;
  }

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: #67d5cb;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
}  

form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.form-input {
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.btn {
    padding: 10px 20px;
    margin: 10px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer; 
}
*/
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .who {
        font-size: 15px;
        text-align: center;
        color: #0c0c0c;
        overflow: scroll;
        display: block;
    }
    .links {
        font-size: 15px;
    }

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .who {
        font-size: 15px;
        text-align: center;
        color: #0c0c0c;
        overflow: scroll;
        display: block;

    }
    .links {
        font-size: 15px;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .who {
        font-size: 15px;
        text-align: center;
        color: #0c0c0c;
        overflow: scroll;
        display: block;
    }
    .links {
        font-size: 15px;
    }

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .who {
        font-size: 15px;
        text-align: center;
        color: #0c0c0c;
        overflow: scroll;
        display: block;
        padding: 2%;
    }
    .last {
        padding-bottom: 25%;
    }
    .links {
        font-size: 15px;
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .who {
        font-size: 16px;
        text-align: center;
        color: #0c0c0c;
        overflow: scroll;
        display: block;
        padding: 2%;
    }
    .last {
        padding-bottom: 25%;
    }
    .links {
        font-size: 16px;
    }

    .footer {
        height: 10%;
        overflow: hidden;
    }
    form {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    
    .form-input {
        height: 100%;
        background-color: #fff;
        border: 1px solid #ddd;
        bottom: 5;
        font-size: 18px;
    }
    .btn {
        background: transparent;
        padding: 0;
        margin: 0;
        color: #0c0c0c;
        bottom: 2%;
        font-size: 12px;
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .who {
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #0c0c0c;
        overflow: scroll;
        display: block;
        padding: 2%;
    }
    .background-img, .caption-border {
        height: 65%;
    }
    .last {
        padding-bottom: 25%;
    }
    .links {
        font-size: 18px;
    }
    .footer {
        height: 10%;
        overflow: scroll;
    }
    form {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        padding: 10 10 10 0;
        margin: 0;
        bottom: 5%;
    }
    
    .form-input {
        height: 100%;
        background-color: #fff;
        border: 1px solid #ddd;
        bottom: 0;
        font-size: 18px;
    }
    .btn {
        background: transparent;
        padding: 0;
        margin: 0;
        color: #0c0c0c;
    }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .who {
        font-size: 18px;
        text-align: center;
        color: #0c0c0c;
        overflow: scroll;
        display: block;
        padding: 2%;
    }
    .background-img, .caption-border {
        height: 65%;
        justify-content: center;
    }
    .last {
        padding-bottom: 25%;
    }
    .links {
        font-size: 18px;
    }
    .footer {
        height: 10%;
        overflow: scroll;
    }
    form {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    
    .form-input {
        height: 100%;
        background-color: #fff;
        border: 1px solid #ddd;
        bottom: 0;
        font-size: 18px;
    }
    .btn {
        background: transparent;
        padding: 0;
        margin: 0;
        color: #0c0c0c;
    }


}

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .who {
        font-size: 21px;
        line-height: 30px;
        text-align: center;
        color: #0c0c0c;
        overflow: scroll;
        display: block;
        padding: 2%;
    }
    .background-img, .caption-border {
        height: 50%;
        justify-content: center;
    }
    .last {
        padding-bottom: 15%;
    }
    .links {
        font-size: 21px;
    }
    .footer {
        height: 10%;
        overflow: scroll;
    }
    form {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        padding: 0;
        margin: 0;
        bottom: 2%;
    }
    
    .form-input {
        height: 100%;
        background-color: #fff;
        border: 1px solid #ddd;
        bottom: 0%;
        font-size: 18px;
    }
    .btn {
        background: transparent;
        padding: 0;
        margin: 0;
        color: #0c0c0c;
    }

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .who {
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        color: #0c0c0c;
        overflow: scroll;
        display: block;
        padding: 2%;
    }
    .background-img, .caption-border {
        height: 50%;
        justify-content: center;
        align-items: center;
    }
    .last {
        padding-bottom: 15%;
    }
    .links {
        font-size: 25px;
    }
    .footer {
        height: 10%;
        overflow: scroll;
    }
    form {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    
    .form-input {
        height: 100%;
        background-color: #fff;
        border: 1px solid #ddd;
        bottom: 0;
        font-size: 18px;
    }
    .btn {
        background: transparent;
        padding: 0;
        margin: 0;
        color: #0c0c0c;
    }

}
/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .background-img, .caption-border {
        height: 80%;
        justify-content: center;
        align-items: center;
    }
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .background-img, .caption-border {
        height: 80%;
        justify-content: center;
        align-items: center;
    }
}