html, body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0;
}
  
.who {
    text-align: left;
    color: #0c0c0c;
    overflow: hidden;
    font-size: 16px;
    line-height: 24px;
    padding: 0% 24%;
    font-weight: 200;
}

.title{
    text-align: center;
    padding: 15px 0px;
    margin: 20px 0px;
    text-transform: uppercase;
}


.background-img {
    background-image: url(https://images.unsplash.com/photo-1505833987950-1b45b76beac8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caption-border {
    color: #f7f9f0;
    padding: 15%;
    font-size: 80px;
    font-weight: 600;
    letter-spacing: 10px;
    line-height: 1.8;
    text-align: center;
    text-transform: uppercase;
}

.what {
    text-align: center;
}
.last {
    padding-bottom: 15%;
}


.links{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    line-height: 40px;
}

  a {
    color: black;
    text-decoration: none;
  }

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: #67d5cb;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
}  

form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.form-input {
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.btn {
    padding: 10px 20px;
    margin: 10px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer; 
}
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .who {
        font-size: 15px;
        text-align: center;
        color: #0c0c0c;
        overflow: scroll;
        display: block;
    }

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .who {
        font-size: 15px;
        text-align: center;
        color: #0c0c0c;
        overflow: scroll;
        display: block;

    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .who {
        font-size: 15px;
        text-align: center;
        color: #0c0c0c;
        overflow: scroll;
        display: block;
    }

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .who {
        font-size: 15px;
        text-align: center;
        color: #0c0c0c;
        overflow: scroll;
        display: block;
        padding: 2%;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .who {
        font-size: 15px;
        text-align: center;
        color: #0c0c0c;
        overflow: scroll;
        display: block;
        padding: 2%;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .who {
        font-size: 15px;
        text-align: center;
        color: #0c0c0c;
        overflow: scroll;
        display: block;
        padding: 2%;

    }
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .who {
        font-size: 16px;
        text-align: center;
        color: #0c0c0c;
        overflow: scroll;
        display: block;
        padding: 2%;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .who {
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        color: #0c0c0c;
        overflow: scroll;
        display: block;
        padding: 2%;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .who {
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #0c0c0c;
        overflow: scroll;
        display: block;
        padding: 2%;
    }

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .who {
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #0c0c0c;
        overflow: scroll;
        display: block;
        padding: 2%;
    }
    .background-img, .caption-border {
        height: 65%;
    }

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .who {
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #0c0c0c;
        overflow: scroll;
        display: block;
        padding: 2%;
    }

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .who {
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #0c0c0c;
        overflow: scroll;
        display: block;
        padding: 2%;
    }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .who {
        font-size: 18px;
        text-align: center;
        color: #0c0c0c;
        overflow: scroll;
        display: block;
        padding: 2%;
    }
    .background-img, .caption-border {
        height: 65%;
        justify-content: center;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .who {
        font-size: 18px;
        text-align: center;
        color: #0c0c0c;
        overflow: scroll;
        display: block;
        padding: 2%;
    }
    .background-img, .caption-border {
        height: 65%;
        justify-content: center;
        align-self: center;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .who {
        font-size: 18px;
        text-align: center;
        color: #0c0c0c;
        overflow: scroll;
        display: block;
        padding: 2%;
    }
    .background-img, .caption-border {
        height: 75%;
    }
}


/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 1112px) 
  and (max-device-width: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}