html, body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0;
    background-color: #f7f9f0;
}

.overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
}    

.primary-nav{
    width: 25%;
    height: 25vh;
    min-height: 200px;
    overflow: auto;
    position: fixed;
    top: 5%;
    color: white;
    padding: 15px;
  }

.nav-item {
    background:transparent;
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;
}  

a{
    font-size: 30px;
    color: #e3ded3;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    line-height: 2;
    text-transform: uppercase;
    font-weight: bold;
}

a:hover{
    color: #e2cd48;
}
 
.who, p, {
    color: #0c0c0c;
    height: 100%;
    overflow: scroll;
    display: block;
    margin: 10px 50px;
    padding: 0px 50px;
    font-size: 18px;
    line-height: 26px;
}

.background-img {
    background-image: url(https://images.unsplash.com/photo-1505833987950-1b45b76beac8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caption-border {
    color: #f7f9f0;
    padding: 15%;
    font-size: 80px;
    font-weight: 600;
    letter-spacing: 10px;
    line-height: 1.8;
    text-align: center;
    text-transform: uppercase;
 
}
.who {
    text-align: center;
    margin: 0 25%;
}

p{
    line-height: 1.5;
}

.what{
    display: flex;
    flex-direction: row;
}

.what-left {
    display: flex;
    flex: 1;
    padding: 50px;
    margin: 50px;
}

.what-right {
    display: flex;
    flex: 2;
}

.works-title{
    display: flex;
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: #67d5cb;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
}  

.footer-header {
    font-size: 18px;
}

.footer-left {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.footer-right {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

form {
    display: flex;
    line-height: 1.5;
}

.form-input {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.btn {
    display: flex;
    padding: 10px 20px;
    margin: 10px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer; 
}