.header-background {
    background: 
    linear-gradient(to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.2)
    ), url(http://ucarecdn.com/e4e17d9e-2799-4390-98ff-e77657dbd845/-/scale_crop/500x500/center/) no-repeat; /* -/scale_crop/500x500/center/ */
    min-height: 40vh;
    background-attachment: fixed;
    background-size: cover;
}

.header-content {
    /*padding-top: 40%;*/
    color: white;
    
}

.heading {
    padding-top: 30%;
}

.content {
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;   
}

.pic {
    display: none;
}

/*all mobile landscape*/
@media only screen 
    and (min-device-height: 320px)
    and (orientation : landscape) {
        .header-background{
        background: 
        linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.2)
        ), url(https://ucarecdn.com/3fa78a80-897a-4026-935d-230828dcddec/) no-repeat;
        height: 10%;
        background-size: cover;
        background-attachment: fixed;
        }

        .heading {
            padding-top: 0; 
            font-size: 2rem;
        }

        .pic {
            display: flex;
            height: 70vh;
            width: 40vw;
            object-fit: cover;
            justify-content: flex-start;
        }

        .content {
            flex-direction: row;
            align-items: center;
        }

        .context{
            align-self: center; /*baseline centers*/
            font-size: 1rem;
            line-height: 1.5rem;
            padding: 0 0 0 5%;
        }
}

/* ipad and iphonex landscape */
@media only screen 
    and (min-device-width: 768px)
    and (orientation : landscape) {
        .header-background{
        background: 
        linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.2)
        ), url(https://ucarecdn.com/3fa78a80-897a-4026-935d-230828dcddec/) no-repeat;
        background-attachment: fixed;
        background-size: cover;
        }
}

/*iphoneX Landscape */

@media only screen 
    and (device-height : 375px) 
    and (device-width : 812px)
    and (orientation : landscape)
    and (-webkit-device-pixel-ratio : 3) { 
        .header-background { 
            background-size: cover;
            height: 5%;
        }
        .heading {
            padding: 0;
            font-size: 1.5rem;
        } 
}


/*ipad*/

/* Portrait */
@media only screen 
  and (device-width: 768px) 
  and (device-height: 1024px) 
  and (orientation: portrait) {

    .header-background {
        background: 
        linear-gradient(to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.2)
        ), url(http://ucarecdn.com/e4e17d9e-2799-4390-98ff-e77657dbd845/) no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    .heading { 
        padding-top: 20%;
        font-size: 3rem;
    }
}

/* Landscape */
@media only screen 
  and (device-height: 768px) 
  and (device-width: 1024px)
  and (orientation: landscape) {
    .header-background { 
        background-size: cover;
        height: 15%;
    }

    .heading {
        padding-top: 2%; 
        font-size: 3rem;
    }

    .context {
        align-self: center; /*baseline centers*/
        font-size: 1.4rem;
        line-height: 2rem;
        padding: 0 0 0 5%;
    }

    .pic {
        display: flex;
        height: 70vh;
        width: 40vw;
        object-fit: cover;
        justify-content: flex-start;
    }
}

/* ----------- iPad Pro ----------- */
@media screen 
    and (min-device-width: 1024px) 
    and (orientation: portrait) { 
        .header-background {
            background: 
            linear-gradient(to bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.2)
            ), url(http://ucarecdn.com/e4e17d9e-2799-4390-98ff-e77657dbd845/-/scale_crop/1024x1024/center/) no-repeat; /* -/scale_crop/500x500/center/ */
            object-fit: cover;
            min-height: 40vh;
            background-attachment: fixed;
        }
}

