.header-background {
    background: 
    linear-gradient(to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5)
    ), url(https://vignette.wikia.nocookie.net/steven-universe/images/4/48/On_the_Run_201.png/revision/latest?cb=20160508190724) no-repeat; /* -/scale_crop/500x500/center/ */ /*https://ucarecdn.com/d73eaed3-411c-447b-94de-19d7492eb60a/*/
    min-height: 30vh;
    background-attachment: fixed;
    background-size: cover;
}

.coverImage {
    width: 100%;
}

.container {
    padding: 0 5% 0 5%;
}

.blogPosts {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    list-style:none;
}

.posts {
    justify-content: center;
    /*border-bottom: .1em solid #038c44;*/
    /*border-radius: .5em;*/
    padding: 1em;
    margin: .6rem;
}

.posts a {
    text-decoration: none;
}

.articleTitle a {
    color: #004729;
    padding: 0;
    text-decoration: none;
    background-image: linear-gradient( transparent 0%, transparent calc(50% - 8px), #97FF6ACC calc(50% - 8px),#97FF6ACC 100% );
    transition: background-position 120ms ease-in-out, padding 120ms ease-in-out;
    background-size: 100% 200%;
    background-position: 0 0;
}

.articleTitle a:hover {
    padding: 2px 0 4px 0;
    background-image: linear-gradient(
    transparent 0%,
    transparent calc(50% - 8px),
    #3FFC30 calc(50% - 8px),
    #3FFC30 100%
    );
    background-position: 0 100%;
}

.des {
    color: black;
}

/* ul desktop

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;	
    grid-column-gap: 0px;
    grid-row-gap: 16px; */

@media only screen and (min-width: 415px) {
    .blogPosts{
        padding: 10rem;
    }  
    
    .coverImage {
        padding-right: 10rem;
        max-width: 60%;
        min-width: 40%;
    }
}  
