.man-heading {
    display: grid;
    margin: 0 auto;
    color: black;
    bottom: 0;
    width: 100%;
    justify-items: center;
    text-align: left;
    padding-top: 2%;
}

.hero-image {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://ucarecdn.com/30f01746-1a44-4d71-bcbe-d585792b266d/photo_2_1.jpg");
    min-height: 15em;
    height: 50%;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
}
      
.hero-text {
    padding-left: 8%;
    text-align: left;
    color: white;
}

.hero-header{
    align-self: center;
    font-size:2.5rem;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
}

.con-wrapper{
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 5%;
}

.personaCard {
    max-width: 20rem;
    max-height: 15rem;
}

.image {
    max-height: 25rem;
    max-width: 20rem;
}

.image-subText{
    font-size: .7em;
}

.icons, .palette {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.icons > div, .palette > div {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    padding: 1em 0;
    text-align: center;
    font-size: 1em;
    max-width: 20rem;
}

.purpIcon{
    color: #663399;
}

.whiteIcon{
    background-color: #663399;
    color: white;
}

.icons > div > .image {
    max-width: 4rem;
    max-height: 4rem;
}

.dark-purp{
    background-color: #663399;
    color: white;
}

.white{
    background-color: white;
    color: #663399;
}

.black{
    background-color: black;
    color: white;
}

.primary { 
	font-family: Arial Rounded MT Bold;
    text-transform: uppercase; 
    font: bold;

}


@media screen and (min-width: 1024px){ 

    .personaCard {
        max-height: 30rem;
    }

    .landscape{
        min-height: none;
        min-width: 35rem;
    }

    .hero-text {
        padding: 0;
    }
    .hero-image{ 
        background-attachment: fixed;
    }
      
}



