.man-heading {
    display: grid;
    margin: 0 auto;
    color: black;
    bottom: 0;
    width: 100%;
    justify-items: center;
    text-align: left;
    padding-top: 2%;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://ucarecdn.com/30f01746-1a44-4d71-bcbe-d585792b266d/photo_2_1.jpg");
}
      
.icons, .palette {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.icons > div, .palette > div {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    padding: 1em 0;
    text-align: center;
    font-size: 1em;
    max-width: 20rem;
}

.purpIcon{
    color: #663399;
}

.whiteIcon{
    background-color: #663399;
    color: white;
}

.icons > div > .image {
    max-width: 4rem;
    max-height: 4rem;
}

.dark-purp{
    background-color: #663399;
    color: white;
}

.white{
    background-color: white;
    color: #663399;
}

.black{
    background-color: black;
    color: white;
}

.primary { 
	font-family: Arial Rounded MT Bold;
    text-transform: uppercase; 
    font: bold;

}


@media screen and (min-width: 1024px){ 

    .personaCard {
        max-height: 30rem;
    }

   

}



