.menuLinks a {
color: black;
}

.main-section {
  height: 100%;
  display: flex;
  flex-basis: column nowrap;
  align-items: center;
  justify-content: center;
}

.port {
  color: black;
}

.card-container {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.45);
  border-radius: .5rem;
  overflow: hidden;
}

.man {
    background-image: url(https://ucarecdn.com/30f01746-1a44-4d71-bcbe-d585792b266d/photo_2_1.jpg);
    width: 100%;
}

.htbch {
    background-image: url(https://ucarecdn.com/04becc3a-f93d-402c-95ce-04c46cc81e86/Cards_andComputer.jpg);
    width: 100%;
}

.astro{
  background-image: url(https://images.pexels.com/photos/6932066/pexels-photo-6932066.jpeg);
  width: 100%;
}

.article-title {
  font-weight: 600;
  font-size: 1.7em;
  margin: 0 0 .9em;
}

.article-descrip {
  font-weight: 300;
  line-height: 1.25em;
  font-size: 1.2rem;
  margin: 0 0 1.9em 0;
}

.sub-heading{
    padding-top: 1rem;
}

.read-more-button {
  text-decoration: none;
  text-transform: uppercase;
  color: #1a1a1a;
  font-weight: bold;
  font-size: 1.3em;
  position: relative;
  display: inline-block;
  z-index: 1;
  padding: 0.3125em;
  left: -0.3125em;
}

.read-more-button:hover {
  color: #1a1a1a;
}

.read-more-button::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: calc(50%);
  left: 0;
  width: 100%;
  height: 40%;
  pointer-events: none;
  background:   #6FDEC9;
  transform: scale3d(0, 1, 1);
  transform-origin: 0% 50%;
  transition: transform 0.33s;
}

.read-more-button:hover::before {
  transform: scale3d(1, 1, 1);
  transform-origin: 0% 50%;
}

.cardImage {
  height: 300px;
  max-height: 25rem;
  background-position: center;
  background-size: cover;
  background-position: 50% 50%;
}

.card-text-container {
  padding: 24px 20px;
}


@media screen and (min-width: 768px) {
  .card-container {
    flex-direction: row;
    width: 50em;
  }

  .cardImage {
    height: 100vh;
    width: 100%;
  }
 .card-text-container {
    max-width: 41.25em;
    padding: 30px 40px;
  }
}

@media screen and (min-width: 1024px) {
  .card-container {
    max-width: 75em;
  }
}