@import url("./theme.css");


.top {
    display: flex;
    flex-flow: row nowrap;
    margin: 2em 0;
    align-items: baseline;
}

.icon1{
    display: flex;
    align-self: baseline;
    height: 1.5em;
    margin-right: 1em;
}

.app-body {
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.txt {
    font-size: 1.3rem;
}

.contact{ 
    font-size: 2rem;
}

.sub-hdr {
    font-size: 2rem;
}

h1 {
    font-size:2.5rem ;
}