@import url("./theme.css");

.top {
    display: flex;
    flex-flow: row nowrap;
    margin: 2em 0;
    align-items: baseline;
    justify-self: flex-start;
    align-self: flex-start;
}

.qr {
    display: flex;
    height: 4em;
    width: auto;
    align-self: center;
}

.icon1{
    display: flex;
    align-self: baseline;
    height: 1.5em;
    margin-right: 1em;
}

.app-body {
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2%;
}

.txt {
    font-size: .8em;
}

.contact{ 
    font-size: 1.8rem;
}

.sub-hdr {
    font-size: 1.2rem;
    text-transform: uppercase;
}

h1 {
    font-size:2rem ;
}

.--tech, .--lang, .--other {
    padding: .3em 0;
    margin: 0;
    line-height: 1.5em;
}