html {
  scroll-behavior: smooth;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.OgCoop {
  background: 
  linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.8)
  ), url(https://preview.redd.it/1sl7nsez7nry.png?width=960&crop=smart&auto=webp&s=7214de5636c1bdaa910f9af5991435394b8a4a29) no-repeat;
  width: 100%;
  min-height: 400px;
  background-size: cover;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  margin: 0;
}

.OgCoop > div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
}

.OgCoop > div h1,
.OgCoop > div h2 {
  color: white;
}
.intro {
  margin: 0 auto;
  width: 200px;
  
  /*font-size: 1rem;*/
}

.headshot {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

p{
  padding: 0 15%;
}

section {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  width: 100%;

}

.section-1 {
  background-color: #fffff2;
  padding-bottom: 5%;
  text-align: center;
  kerning: 1em;
  line-height: 1.7em;
}

.section-2 {
  /*background: url(https://vignette.wikia.nocookie.net/steven-universe/images/e/ed/Steven_the_Swordfighter_Cloud_Temple_Background.jpg/);
  background-size: cover;     
  background-attachment: fixed;*/
  background-color: #feb6c1;
  min-height: 40%;
  display: flex;
  flex-flow: column nowrap;
  padding-bottom: 5%;
}

.title{
  text-align: center;
  padding: 25px 0px;
  margin: 0px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
  color: #3E6897;
}

button{
  width: 75%;
  align-self: center;
  padding: 1em;
  margin-bottom: 2em;
  font-size: 2em;
  background-color: #fffff2 ;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 .8em 1em 0 rgba(0,0,0,0.24), 0 1.1em 3.5em 0 rgba(0,0,0,0.19);
  background-color: #58d7d5;
}

button a {
  text-decoration: none;
  color: #3E6897;
}

button:hover a {
  color:  #fffff2;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
  background: #3E6897;;
  color: #fffff2;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  font-size: 1rem;
  width: 100%;
  z-index: 4;
  align-items: center;
}

@media only screen and (max-width: 414px) {
  .footer{
    flex-wrap: wrap;
  }

}