html, body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🤘</text></svg>") 16 0,auto;
}

.OgCoop {
  display: flex;
  background: 
  linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.8)
  ), url(https://preview.redd.it/1sl7nsez7nry.png?width=960&crop=smart&auto=webp&s=7214de5636c1bdaa910f9af5991435394b8a4a29) no-repeat;
  width: 100%;
  min-height: 400px;
  background-size: cover;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  margin: 0;
}

.intro {
  justify-self: center;
  margin: 0 auto;
  color: white;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
}

.headshot {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

p{
  padding: 0 15%;
}

.link-logo{
  max-width: 4rem;
  max-height: 4rem;
  
}

.main {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #fffff2;
  color: #191434;
  text-align: center;
  kerning: 1em;
  line-height: 1.7em;
}

.title{
  text-align: center;
  padding: 25px 0px;
  margin: 0px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
  color: #222491;
}

.contact-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-auto-rows: auto auto auto auto;
  grid-template-areas: "github codepen devto twitter";
  padding: 0;
  height: 400px;
}

a {
  font-size: 1.5em;
  text-decoration: none;
  padding-bottom: 2%;
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👆</text></svg>") 16 0,auto;
}

.github {
  display: grid;
  height:100%;
  width: 100%;
  background-color: #77041d; 
  align-items: center;
  justify-items: center;
}

.github:hover {
  background-color: #3E6897;
}

.codepen {
  display: grid;
  height:100%;
  width: 100%;
  background-color: #A5257A;
  align-items: center;
  justify-items: center;
}
.codepen a {
  color: #FAC7F8; 
}

.codepen:hover {
  background-color: #0E6F73;
}

.devto {
  display: grid;
  height: 100%;
  width:100%;
  background-color: #FA58FA;
  align-items: center;
  justify-items: center;
}

.devto:hover {
  background-color: #32C7B0;
}

.twitter {
  display: grid;
  height: 100%;
  width: 100%;
  background-color: #FAC7F8;
  align-items: center;
  justify-items: center;
}

.twitter:hover{
  background-color: #29EBF2;
}

.twitter a {
  color: #A5257A;
}


.github { grid-area: github; }

.codepen { grid-area: codepen; }

.devto { grid-area: devto; }

.twitter { grid-area: twitter; }

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
  background: #222491;
  color: #FAC7F8;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  font-size: 1rem;
  width: 100%;
  z-index: 4;
  align-items: center;
}

@media only screen and (max-width: 414px) {
  .contact-container{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "github codepen" "devto twitter";
  }

  .devto, .twitter {
    padding-bottom: 15%;
  }

  .footer{
    flex-wrap: wrap;
  }
}