body{
    font-size: 1rem;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /*background-color: #FEF0F0;*/
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color:#FEF0F0;
    border-bottom: 5px solid #3E6897;
    border-top: 5px solid #3E6897;
    width: 100vw;
    padding: 2rem;
    margin: 3rem 0 3rem 0;
}

header {
    font-size: 2rem;
    padding-bottom: 2rem;
    color: #3E6897;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-input {
    padding: .6rem 1rem;
    border-radius: .3rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    text-align: center;
    background-color: #fffff2;
}

.btn {
    font-size: 1.25rem;
    padding: .5rem 1rem;
    border-radius: .3rem;
    color: #FEF0F0;
    background-color: #3E6897;
}

.border {
    border: .11rem solid #3E6897;
}
