html, body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fffff2;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🤘</text></svg>") 16 0,auto;
}

a {
    font-size: 1.5em;
    text-decoration: none;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👆</text></svg>") 16 0,auto;
}

.theme-header {
    width: 100%;
    background-size: cover;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
    margin: 0;
}

.header-content {
    display: grid;
    margin: 0 auto;
    color: white;
    bottom: 0;
    width: 100%;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.main {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    width: 100%;
    color: #191434;
    text-align: center;
    kerning: 1em;
    line-height: 1.7em;
}

.main-text {
    padding: 0 15%;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    background: #222491;
    color: #FAC7F8;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    font-size: 1rem;
    width: 100%;
    z-index: 4;
    align-items: center;
}