html, body {
    font-family: 'Open Sans', sans-serif;
    font-display: auto;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fffff2;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🤘</text></svg>") 16 0,auto;
}

a {
    font-size: 1.5rem;
    text-decoration: none;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👆</text></svg>") 16 0,auto;
}


/*.nav-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    padding: 0;
} */

.nav-items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.nav-items a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
    font-size: 2em;
}

.theme-header {
    width: 100%;
    background-size: cover;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
    margin: 0;
}

.header-content {
    display: grid;
    margin: 0 auto;
    color: white;
    bottom: 0;
    width: 100%;
    justify-items: center;
    text-align: center;
    padding-top: 2%;
}

.main {
    position: relative;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    width: 100%;
}

.main-text {
    padding: 0 15%;
    color: #191434;
    text-align: center;
    font-size: 1rem;
    kerning: 1rem;
    line-height: 1.7rem;
}

.footerText {
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    background: #222491;
    color: #FAC7F8;
    height: 2.5rem;
    font-size: 1rem;
    width: 100%;
    justify-content: center;
    align-content: center;
    padding: .5rem 0 .8rem 0;
}

p.footerText {
    text-align: center;
    margin: 0;
}
